<h2>KET QUA SUDOKU</h2>
<style> table, th { border: 1px solid black; border-collapse: collapse;} th { padding: 6px; background-color: #f1f1c1;}</style>
<table border= 6 >
<tr>
<th> 0 <th> 0 <th> 0 <th> 0 <th> 0 <th> 0 <th> 0 <th> 0 <th> 0  <tr>
<th> 0 <th> 0 <th> 0 <th> 0 <th> 0 <th> 0 <th> 0 <th> 0 <th> 0  <tr>
<th> 0 <th> 0 <th> 0 <th> 0 <th> 0 <th> 0 <th> 0 <th> 0 <th> 0  <tr>
<th> 0 <th> 0 <th> 0 <th> 0 <th> 0 <th> 0 <th> 0 <th> 0 <th> 0  <tr>
<th> 0 <th> 0 <th> 0 <th> 0 <th> 0 <th> 0 <th> 0 <th> 0 <th> 0  <tr>
<th> 0 <th> 0 <th> 0 <th> 0 <th> 0 <th> 0 <th> 0 <th> 0 <th> 0  <tr>
<th> 0 <th> 0 <th> 0 <th> 0 <th> 0 <th> 0 <th> 0 <th> 0 <th> 0  <tr>
<th> 0 <th> 0 <th> 0 <th> 0 <th> 0 <th> 0 <th> 0 <th> 0 <th> 0  <tr>
<th> 0 <th> 0 <th> 0 <th> 0 <th> 0 <th> 0 <th> 0 <th> 0 <th> 0  <tr>
<tr>
